@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.navbar, .navbar-item, .navbar-link, .navbar-menu{
    display: flex;
    background-color: #333;
    color: aliceblue;
    height: 100px;
    /* margin-top: 20px; */
}

footer{
    margin-top: 200px;
}

@media (max-width: 1024px) {

    .navbar-item {
        align-items: center;
    }
    .navbar-menu {
      flex-direction: column;
    }
    .navbar-start,
    .navbar-end {
      width: 100%;
      display: flex;
      justify-content: space-between;
      
    }
    .navbar-item {
      margin-bottom: 0;
    }
  }
/* #map{
    display: flex;
    align-content: center;
    height: 600px;
    width: 1000px;
} */

@media screen and (min-width: 1024px) {
    .navbar-menu {
        display: flex;
    }
}